/* Write your CSS here */
.notification-item-container {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-width: 600px;

  border: 1px solid #e5e5e5;

  margin-bottom: 20px;
  padding: 10px;
  padding-right: 20px;
}
.container-2 {
  width: 400px;
}
.icon-container {
  align-self: flex-start;

  margin-top: 20px;
  margin-left: 20px;
  margin-right: -70px;

  font-size: 25px;
}
h1 {
  font-size: 22px;
}
