.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.green {
  color: #2dca73;
}
.red {
  color: #ff0b37;
}
.yellow {
  color: #ffb800;
}
.blue {
  color: #0f81e0;
}

.green1 {
  color: #2dca73;
}
.red1 {
  color: #ff0b37;
}
.yellow1 {
  color: #ffb800;
}
.blue1 {
  color: #0f81e0;
}
